<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hackerdom blog</title>
    <link rel="stylesheet" href="./style.css">
    <script src="https://kit.fontawesome.com/9031ae7b04.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <h1>Hamie's tech jargon</h1>
        <nav>
            <ul id="nav__list">
                <li class="nav__list__item">
                    <a class="nav__list__item--link" href="#">
                        Home
                    </a>
                </li>
                <li class="nav__list__item">
                    <a class="nav__list__item--link" href="#">
                        List
                    </a>
                </li>
                <li class="nav__list__item">
                    <a class="nav__list__item--link" href="#">
                        Lorem
                    </a>
                </li>
                <li class="nav__list__item">
                    <a class="nav__list__item--link" href="#">
                        Ipsum
                    </a>
                </li>
                <li class="nav__list__item">
                    <a class="nav__list__item--link" href="#">
                        Dolor
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="info">
            <div class="info__card">
                <h2>Information</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ac porta felis. Nullam lobortis rutrum dolor, quis scelerisque mi commodo non. Vivamus accumsan nisi lacus, eget pellentesque neque iaculis a. Morbi a iaculis elit. Pellentesque quam nunc, rutrum sit amet tincidunt nec, pellentesque quis diam. Ut maximus, arcu vel euismod pulvinar, augue est consequat quam, nec luctus erat erat pellentesque sem. Etiam lobortis, nibh non rutrum laoreet, sapien risus ullamcorper nibh, at scelerisque odio nulla at ligula. Nam tincidunt nunc sed metus malesuada ornare. Nulla a ligula nec ex rutrum lobortis nec in libero. In augue quam, vulputate ac egestas.</p>
            </div>
            <div class="info__card">
                <h2>Information</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ac porta felis. Nullam lobortis rutrum dolor, quis scelerisque mi commodo non. Vivamus accumsan nisi lacus, eget pellentesque neque iaculis a. Morbi a iaculis elit. Pellentesque quam nunc, rutrum sit amet tincidunt nec, pellentesque quis diam. Ut maximus, arcu vel euismod pulvinar, augue est consequat quam, nec luctus erat erat pellentesque sem. Etiam lobortis, nibh non rutrum laoreet, sapien risus ullamcorper nibh, at scelerisque odio nulla at ligula. Nam tincidunt nunc sed metus malesuada ornare. Nulla a ligula nec ex rutrum lobortis nec in libero. In augue quam, vulputate ac egestas.</p>
            </div>
            <hr>
            <section id="blogs">
                <h2 id="blogs__heading">
                    Articles
                </h2>
                <div id="blogs__container">
                <div class="blog__card">
                    <div class="blog__card__header">
                        <h3>An introduction to computer engineering</h3>
                        <span>{Date}</span>
                    </div>
                    <p class="blog__card__description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ac porta felis. Nullam lobortis rutrum dolor, quis scelerisque mi commodo non. Vivamus accumsan nisi lacus, eget pellentesque neque iaculis a.
                    </p>
                    <!--<div class="blog__card__stats">
                        <div class="blog__card__stats--item" id="blog__card__stats--upvotes">
                            <i class="fas fa-angle-up"></i>
                            <span class="blog__card__stats--item__number">
                                99
                            </span>
                        </div>
                        <div class="blog__card__stats--item" id="blog__card__stats--downvotes">
                            <i class="fas fa-angle-down"></i>
                            <span class="blog__card__stats--item__number">
                                99
                            </span>
                        </div>
                        <div class="blog__card__stats--item" id="blog__card__stats--comments">
                            <i class="fas fa-comment"></i>
                            <span class="blog__card__stats--item__number">
                                99
                            </span>
                        </div>
                    </div>-->
                    <hr class="blog__end">
                </div>
                </div>
            </section>
        </section>
        <aside>
            <ul id="aside__list">
                <li class="aside__list__item">
                    <a class="aside__list__item--link" href="#">
                        Home
                    </a>
                </li>
                <li class="aside__list__item">
                    <a class="aside__list__item--link" href="#">
                        List
                    </a>
                </li>
                <li class="aside__list__item">
                    <a class="aside__list__item--link" href="#">
                        Lorem
                    </a>
                </li>
                <li class="aside__list__item">
                    <a class="aside__list__item--link" href="#">
                        Ipsum
                    </a>
                </li>
                <li class="aside__list__item">
                    <a class="aside__list__item--link" href="#">
                        Dolor
                    </a>
                </li>
            </ul>
        </aside>
    </main>
</body>
</html>
